.reactions-wrapper {
    position: absolute;
    top: calc(-100% - 5px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--pill-border-radius);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    background-color: var(--white);
    padding: 0 12px;
    height: calc(2 * var(--reaction-size));
    margin-bottom: 5px;
}