.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.content {
    height: var(--summary-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;

    border: 1px solid;
}

.content > span {
    flex-grow: 1;
}