.trigger-and-summary-container {
    position: relative;
}

.trigger-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.trigger-and-summary-container.reactive .trigger-wrapper {
    z-index: 200;
}

.trigger-with-reactions {
    position: relative;
}

.trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--trigger-size);
    width: var(--trigger-size);
    background-color: var(--trigger-bg);
    border: 1px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
}

.trigger:hover {
    background-color: var(--secondary-grey);
}

.added-reaction {
    display: flex;
    align-items: center;
    background-color: var(--reaction-bg);
    border: 1px solid var(--white);
    border-radius: var(--pill-border-radius);
    height: var(--reaction-size);
    padding: var(--reaction-padding);
    margin-right: var(--reaction-padding);
    transition: background-color 150ms linear, border 200ms linear;
    cursor: pointer;
    position: relative;
}

.added-reaction.current-user {
    background-color: var(--reaction-active-bg);
    border: 1px solid var(--blue-accent);
}

.added-reaction.saving {
    border: none;
}

.added-reaction.saving::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--secondary-grey);
    border-radius: var(--pill-border-radius);
    background-color: var(--reaction-active-bg);
    opacity: 0.5;
    cursor: not-allowed;
    animation: blink 2s infinite;
    z-index: 500;
}

.added-reaction > .emoji {
    display: flex;
    align-items: center;
    font-size: var(--reaction-added-font);
}

@keyframes blink {
    25% {
        opacity: 0.8;
    }
    75% {
        opacity: 0.2;
    }
}