.summary .nav-list {
    display: flex;
    height: var(--nav-list-height);
}

.summary .nav-list > .nav-item {
    display: flex;
    justify-content: flex-start;
    padding: var(--nav-item-padding) var(--summary-padding);
    border-bottom: 2px solid var(--nav-item-border);
    cursor: pointer;
    transition: border-bottom 100ms linear;
}

.summary .nav-list > .nav-item.active {
    border-bottom: 2px solid var(--blue-accent);
}