:root {
  --white: #ffffff;
  --secondary-grey: #e0e0e0;
  --blue-accent: #0f62fe;
  --pill-border-radius: 24px;
  --reaction-size: 16px;
  --reaction-padding: 8px;
  --reaction-bg: #f4f4f4;
  --reaction-list-font: 14px;
  --reaction-added-font: 12px;
  --reaction-active-bg: #edf5ff;
  --tooltip-bg: #161616;
  --tooltip-font-size: 12px;
  --trigger-size: 32px;
  --trigger-bg: #edeef0;
  --summary-height: 300px;
  --summary-min-width: 300px;
  --summary-padding: 16px;
  --summary-font-size: 14px;
  --nav-list-height: 40px;
  --nav-item-padding: 10px;
  --nav-item-border: #e0e0e0;
  --user-avatar-size: 24px;
  --user-details-padding: 14px;
}

html, body, #root {
    height: 100%;
}

.hidden {
  display: none;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  background-color: #e0e0e0;
  padding-right: 80px;
}